import * as React from "react"
import * as S from './styles'

const {{ properCase name }} = ({exampleProp}) => (
  <S.{{ properCase name }}>
    <div>{exampleProp}</div>
  </S.{{ properCase name }}>
)

export default {{ properCase name }};
